<%= error_messages_for 'category' %>

<%= labelled_form_for 'category', :html => { :multipart => true} do |f| %>

  <%= required_fields_message %>

  <% if @category.new_record? %>
    <% if @category.parent %>
      <%= hidden_field_tag('parent_id', @category.parent.id) %>
      <%= hidden_field_tag('parent_type', @category.parent.class.name) %>
    <% else %>
        <%= select_category_type :type %>
    <% end %>
  <% end %>

  <%= select_color_for_category if !environment.enabled?('disable_categories_menu') %>

  <%= required f.text_field('name') %>

  <%= labelled_check_box(_('Display in the menu'), 'category[display_in_menu]', '1', @category.display_in_menu) %>

  <%= f.fields_for :image_builder, @category.image do |i| %>
    <%= file_field_or_thumbnail(_('Image:'), @category.image, i) %>
  <% end %>

  <% button_bar do %>
    <%= submit_button('save', _('Save'), :cancel => {:action => 'index'}) %>
  <% end%>
<% end %>
